h4 {
  font-size: 1.15rem;
}

@media only screen and (max-width:1180px){
    .theme-default-content:not(.custom){
        max-width: 92%;
    }
}  

.sidebar-group > ul > li > a.sidebar-link{
	font-weight: 550;
}
.sidebar-group > ul > li > a.sidebar-link.active{
	background-color: #d5f0e4;
}
.sidebar .sidebar-sub-headers{
	padding-left: 1.5rem !important;
}

.sidebar-sub-headers > li > a.sidebar-link{
	font-size: 0.92rem;
	color: #666666;
}
.sidebar-sub-headers > li > .sidebar-sub-headers > li > a.sidebar-link{
	font-size: 0.8rem;
	color: #9DAAB6;
}